<!-- <li class="line dk"></li> -->
<!-- list -->
<ul class="nav" ng-show="isLoggedIn">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER"> </span> 
  </li>
  <!-- DASHBOARD --> 
  <li ui-sref-active="active" ng-if="fConfigSys.valores[0]">
    <a ui-sref="app.dashboard">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Dashboard </span>
    </a>
  </li>
  <!-- SEGURIDAD -->
  <li ng-if="fConfigSys.valores[1]">
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-user icon text-primary-dker"></i>
      <span class="font-bold"> Seguridad </span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span> Seguridad</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.usuario"> 
          <span>Usuarios</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.perfil"> 
          <span>Perfiles</span>
        </a>
      </li>
    </ul>
  </li>
  <!-- PACIENTES -->
  <li ui-sref-active="active" ng-if="fConfigSys.valores[2]">
    <a ui-sref="app.paciente">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Pacientes </span>
    </a>
  </li>
  <!-- PRODUCTO -->
  <li ui-sref-active="active" ng-if="fConfigSys.valores[3]">
    <a ui-sref="app.producto">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Productos </span>
    </a>
  </li>
  <!-- CITA -->
  <li ui-sref-active="active" ng-if="fConfigSys.valores[4]">
    <a ui-sref="app.reserva-cita">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Citas </span>
    </a>
  </li>
  <!-- HIST. MEDICA -->
  <li ui-sref-active="active" ng-if="fConfigSys.valores[5]">
    <a ui-sref="app.atencion-medica">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Atención Médica </span>
    </a>
  </li>
  <!-- CENTRAL DE REPORTES --> 
  <li ng-if="fConfigSys.valores[6]" ui-sref-active="active">
    <a ui-sref="app.central-reportes">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Reportes </span> 
    </a>
  </li>
  <!-- DOCUMENTOS -->
  <li ui-sref-active="active" ng-if="fConfigSys.valores[7]">
    <a ui-sref="app.documento">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Documentos </span>
    </a>
  </li>
  <!-- NOTAS -->
  <li ui-sref-active="active" ng-if="fConfigSys.valores[8]">
    <a ui-sref="app.nota">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold"> Notas </span>
    </a>
  </li>
  <li class="line dk hidden-folded"></li>
</ul>