/* Created and Modified by luisls1717@gmail.com */
/* UI GRID FIX */
.fs-mini-grid .ui-grid-cell-contents{
    padding: 5px;
}
.fs-mini-grid .ui-grid-header-cell .ui-grid-cell-contents{
	font-size: 12px;
}
.fs-mini-grid .ui-grid-header-cell .ui-grid-cell-contents{
    text-transform: uppercase;
}
.fs-mini-grid .ui-grid-cell, .ui-grid-row {
    min-height: 28px;
    height: 28px;
}
.fs-mini-grid .ui-grid-column-menu-button {
     top: 0;
}
.fs-mini-grid.ui-grid{
	border: 1px solid rgb(204, 219, 230);
}
.fs-mini-grid.ui-grid .ui-grid-contents-wrapper{
	background-color: #e3e7ea;
}
.ui-grid-viewport .ui-editCell, .ui-editPanel{
    background-color: #fcfbcd !important;
    font-style: oblique !important;
}
.ui-grid-disable-selection, .fs-mini-grid .ui-grid-cell{
    -webkit-touch-callout:all !important;
    -webkit-user-select:all !important;
    -khtml-user-select:all !important;
    -moz-user-select:all !important;
    -ms-user-select:all !important;
    user-select:all !important;
    cursor:default;
}

.btn {
	text-transform: uppercase;
}
.hr-line{
  clear: both;
  margin: 15px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
}
.fs-mini-grid .ui-grid-pager-panel{
	background-color: #f6f8f8;
 	border-top: 1px solid #ccdbe6;
}
.modal-xlg {
    width: 900px;
}
/*FONT SIZE*/
.f-9{
    font-size: 9px;
    margin: 0;
}
.f-10{
    font-size: 10px;
    margin: 0;
}
.f-12{font-size: 12px !important;}
.f-14{font-size: 14px !important;}
.f-16{font-size: 16px !important;}
.f-18{font-size: 18px !important;}
.f-20{font-size: 20px !important;}
.input-normal-border{
    border-color: #cfdadd;
}
.input-danger-border{
    border-color: #f05050;
}
.input-success-border{
    border-color: #27c24c;
}
.form-group-sm{
    margin-bottom: 8px;
}

.fieldset-sm legend{
	text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

form.edit-form input, form.edit-form select {
	background-color: #fcfcbc;
}

.navbar-brand img {
  max-height: 60px;
  padding: 4px;
}

.navi-wrap .ambiente select{
	width: 88%;
    margin: auto;
    height: 24px;
    font-size: 10px;
    padding: 4px;
}

.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.lead.lead-sm {
    margin-bottom: 10px;
}

.input-xs {
    height: 24px;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 1.2;
    border-radius: 3px;
}
.text-danger {
  color: #f05050 !important;
}
.text-success{
  color: #5cb85c !important;
}
.text-info{
  color: #5bc0de !important;
}
.text-warning{
  color: #f0ad4e !important;
}
/* .text-primary{
  color: #428bca !important;
} */
.label-primary {
  background-color: #7266ba;
}

/* bug CSS grid */
.ui-grid-canvas{
    overflow: hidden !important;
}

/* fix bg-warning*/
.bg-warning {
    color: #7266ba;
}
.bg-warning .text-muted {
    color: #23b7e5 !important;
}
/* COMPROBANTE */
.box-nueva-venta .box-guia-remision{
    margin-bottom: 15px;
}


/* DASHBOARD */
.dashboard h4{
    color: #564aa3;
    font-weight: 400;
}

.dashboard .text-help{
    line-height: 1;
    font-size: 13px;
}
.dashboard .dash-group .text-porcentaje{
    text-shadow: 0.5px 0.5px 0 #1c2b36;
}


/* LOGIN */
.page-login{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-login .panel-left{
  margin-top: -50px;
  width: 150%;
}
.page-login .panel-right{
  margin: 4rem;
  width: 100%;
  margin-top: -50px;
}
.page-login .panel-left .bg-image{
  height: 100vh;
  background-image: url('../../img/left-banner.jpg');
  background-size: cover;
}
.page-login .section-login{
  width: 400px;
  margin: auto;
}

/* Generales */
/* .h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333; } */
  .h1.text-custom, .h2.text-custom, .h3.text-custom, .h4.text-custom, .h5.text-custom, .h6.text-custom,
  h1.text-custom, h2.text-custom, h3.text-custom, h4.text-custom, h5.text-custom, h6.text-custom {
    font-weight: 500;
    letter-spacing: 0; }
  .h1.filled, .h2.filled, .h3.filled, .h4.filled, .h5.filled, .h6.filled,
  h1.filled, h2.filled, h3.filled, h4.filled, h5.filled, h6.filled {
    padding: 10px; }
  .h1.tile-heading, .h2.tile-heading, .h3.tile-heading, .h4.tile-heading, .h5.tile-heading, .h6.tile-heading,
  h1.tile-heading, h2.tile-heading, h3.tile-heading, h4.tile-heading, h5.tile-heading, h6.tile-heading {
    color: #1199d3;
    letter-spacing: 1px; }
  .h1.underline, .h2.underline, .h3.underline, .h4.underline, .h5.underline, .h6.underline,
  h1.underline, h2.underline, h3.underline, h4.underline, h5.underline, h6.underline {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px; }


/* .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42858;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
  /* .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    pointer-events: all;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none; } */

/* a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; } */

/* FullCalendar */
.fc-overlay {
  display: none;
  position: absolute;
  min-width: 260px;
  padding: 15px 0;
  top: auto;
  left: 50%;
  margin-left: -150px;
  z-index: 1000;
  color: #616f77 !important; }
  .fc-overlay.left {
    left: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0; }
  .fc-overlay.right {
    left: auto;
    right: 100%;
    top: -15px;
    padding: 0 10px;
    margin: 0; }
  .fc-overlay .panel {
    padding: 10px; }

.fc .fc-toolbar {
  height: 50px;
  color: #fff;
  background-color: #1199d3;
  border-radius: 0;
  margin: 0; }
  .fc .fc-toolbar .fc-button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin: 0;
    height: 50px;
    line-height: 28px;
    padding: 10px; }
    .fc .fc-toolbar .fc-button:hover {
      color: white; }
  .fc .fc-toolbar h2 {
    font-size: 24px;
    line-height: 50px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Raleway", "Arial", sans-serif;
    color: white; }

.fc .fc-view-container .fc-day-grid .fc-row {
  z-index: auto; }

.fc .fc-view-container .fc-event {
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 0;
  background-color: white;
  border: 0;
  color: #616f77; }
  .fc .fc-view-container .fc-event.fc-event-end:not(.fc-event-start) {
    border: 0 !important; }
  .fc .fc-view-container .fc-event:focus, .fc .fc-view-container .fc-event:hover, .fc .fc-view-container .fc-event:active {
    z-index: 1000; }
    .fc .fc-view-container .fc-event:focus .fc-overlay, .fc .fc-view-container .fc-event:hover .fc-overlay, .fc .fc-view-container .fc-event:active .fc-overlay {
      display: block; }

.fc .fc-view-container .fc-view.fc-month-view .fc-head table > thead > tr > th.fc-widget-header, .fc .fc-view-container .fc-view.fc-agenda-view .fc-head table > thead > tr > th.fc-widget-header {
  border: 0;
  background-color: #fff;
  padding: 10px;
  color: #616f77;
  font-size: 12px;
  font-weight: 400; }

.fc .fc-view-container .fc-view.fc-month-view .fc-head table > thead > tr > th.fc-agenda-gutter, .fc .fc-view-container .fc-view.fc-agenda-view .fc-head table > thead > tr > th.fc-agenda-gutter {
  padding: 0; }

.fc .fc-view-container .fc-view.fc-month-view .fc-body table > thead tr td.fc-day-number,
.fc .fc-view-container .fc-view.fc-month-view .fc-body table > thead tr th.fc-day-number, .fc .fc-view-container .fc-view.fc-agenda-view .fc-body table > thead tr td.fc-day-number,
.fc .fc-view-container .fc-view.fc-agenda-view .fc-body table > thead tr th.fc-day-number {
  padding: 5px 10px;
  margin: 5px;
  color: #616f77;
  font-size: 12px; }

.fc .fc-view-container .fc-view.fc-month-view .fc-body table > thead tr td.fc-state-highlight,
.fc .fc-view-container .fc-view.fc-month-view .fc-body table > thead tr th.fc-state-highlight, .fc .fc-view-container .fc-view.fc-agenda-view .fc-body table > thead tr td.fc-state-highlight,
.fc .fc-view-container .fc-view.fc-agenda-view .fc-body table > thead tr th.fc-state-highlight {
  color: white; }

.fc .fc-view-container .fc-view.fc-month-view .fc-body table > tbody > tr > td.fc-state-highlight {
  position: relative; }
.fc .fc-view-container .fc-view.fc-month-view .fc-body table > tbody > tr > td.fc-state-highlight:after {
  content: '';
  background-color: #e05d6f;
  color: white;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  top: 2px;
  border-radius: 50%;
}

.fc-event.b-warning {
    background-color: #fad733 !important;
   color: #7266ba !important;
}
.fc-event.b-primary {
    background-color: #7266ba !important;
    color: #fff !important;
}
.fc-event.b-success {
    background-color: #5cb85c !important;
   color: #fff !important;
}
.fc-event .fc-bg {
  background: transparent !important;
}

.fc-time-grid-event .fc-title{
  font-size: .9em;
  color: white;
  text-shadow: 1px 1px 4px #333333;
  font-weight: bold;
}
.tooltip-event{
    width:auto;
    height:auto;
    background:#000;
    color:#fff;
    position:absolute;
    z-index:10001;
    padding:4px;
    border-radius: 8px;
    font-size: 11px;
}



/* formulario minotaur */
label {
  font-weight: 400; }
  label.minotaur-label {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #333; }

form.show-status.ng-dirty.ng-invalid,
.form-control.ng-dirty.ng-invalid {
  border: 1px solid #d9534f; }

.help-block {
  font-size: 12px; }

.form-group.form-footer {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 20px 25px;
  margin: 15px -25px -15px;
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.form-group.legend h1, .form-group.legend h2, .form-group.legend h3, .form-group.legend h4, .form-group.legend h5, .form-group.legend h6 {
  color: #1199d3;
  margin-bottom: 3px; }

.form-group.legend p {
  font-size: 12px;
  color: #95a2a9;
  border-bottom: 1px dotted #cacaca;
  padding-bottom: 5px; }

@media (min-width: 768px) {
  .form-horizontal .control-label.minotaur-label {
    padding-top: 9px; } }

input:-webkit-autofill,
input:focus:-webkit-autofill,
input:focus:hover:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; }

.btn-link{
  vertical-align: top !important;
  height: 15px !important;
  padding: 0px !important;
}
/*para corregir error en scroll de ui-grid*/
.ui-grid-viewport { overflow-anchor: none;}

.ui-grid-viewport .ui-grid-cell button.btn-action {
	margin-left: 4px;
	width: 34px; }
.ui-grid-viewport .ui-grid-cell button.btn-action i {
		font-size: 15px; }

.menu-dropdown.right{
  margin-left:10%;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42858;
    color: #333333;
    white-space: nowrap; }

.dropdown .dropdown-menu.with-arrow {
  margin-top: 10px; }
  .dropdown .dropdown-menu.with-arrow:before {
    content: "";
    position: absolute;
    right: 10px;
    top: -10px;
    height: 0;
    width: 0;
    border-bottom: 9px solid rgba(0, 0, 0, 0.15);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent; }
  .dropdown .dropdown-menu.with-arrow:after {
    content: "";
    position: absolute;
    right: 11px;
    top: -8px;
    height: 0;
    width: 0;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }

.dropdown .dropdown-menu.pull-right.with-arrow:before {
  left: auto;
  right: 11px; }

.dropdown .dropdown-menu.pull-right.with-arrow:after {
  left: auto;
  right: 12px; }

.dropdown .dropdown-menu > li > a > i {
  width: 20px;
  display: inline-block; }

.dropdown .dropdown-menu.dropdown-menu-custom {
  display: block;
  top: -2px;
  left: auto;
  right: 0;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: opacotity 0.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacotity 0.3s cubic-bezier(0.19, 1, 0.22, 1), transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacotity 0.3s cubic-bezier(0.19, 1, 0.22, 1), transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 90% 0;
          transform-origin: 90% 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0; }
  .dropdown .dropdown-menu.dropdown-menu-custom > li a {
    padding: 8px 20px; }

.dropdown.open .dropdown-menu-custom {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.dropdown.dropup .dropdown-menu.dropdown-menu-custom {
  top: auto;
  bottom: -2px; }

/*fileinput*/
.btn-file {
  position: relative;
  vertical-align: middle;
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 23px;
  height: 100%;
  width: 100%;
  direction: ltr;
  cursor: pointer;
}
.fileinput {
  margin-bottom: 9px;
  display: inline-block;
}
.fileinput .form-control {
  padding-top: 7px;
  padding-bottom: 5px;
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileinput .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileinput .thumbnail > img {
  max-height: 100%;
}
.fileinput .btn {
  vertical-align: middle;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
.fileinput-inline .fileinput-controls {
  display: inline;
}
.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.form-control .fileinput-filename {
  vertical-align: bottom;
}
.fileinput.input-group {
  display: table;
}
.fileinput.input-group > * {
  position: relative;
  z-index: 2;
}
.fileinput.input-group > .btn-file {
  z-index: 1;
}
/* REPORTES */
.list-unstyled {
	list-style: none;
}
.waterMarkEmptyData{
  font-size: 22px;
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 10px;
  color: #bbbbbb;
  font-weight: bold;
}
.central-reportes .modulos i{
  font-size: 45px;
}
.central-reportes .modulos{
  margin-top: 14px;
}
.central-reportes .modulos .item{
  padding-top: 8px;
}
.central-reportes .modulos .item.selected{
  box-shadow: inset 0 1px 10px 0px;
  padding-top: 8px;
}
.central-reportes .filtros{
  margin-top: 14px;
}
.central-reportes .modulos .item p{
  padding-bottom: 6px;
  margin: 5px 0;
  line-height: 1;
}

.dashboard .boxform{
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px;
}
