<div class="dashboard hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
          <small class="text-muted">Indicadores de Control </small> 
        </div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md" ng-controller="DashboardCtrl">
      <div class="row">
        <div class="col-xs-6">
          <div class="panel p col-lg-12">
            <div class="boxform">
              <div class="form-group inline">
                <label> Desde </label>
                <input type="text" ng-model="fBusquedaPR.inicio" class="form-control input-xs mask"
                    placeholder="Fecha Desde" input-mask mask-options="{alias: 'dd-mm-yyyy'}"/>
              </div>
              <div class="form-group inline">
                <label> Hasta </label>
                <input type="text" ng-model="fBusquedaPR.fin" class="form-control input-xs mask"
                    placeholder="Fecha Hasta" input-mask mask-options="{alias: 'dd-mm-yyyy'}"/>
              </div>
              <div class="form-group inline">
                <button type="button" class="btn btn-info btn-xs" ng-click="consultarPacientePorRecom();">
                  <i class="fa fa-refresh"></i> PROCESAR
                </button>
              </div>
            </div>
            <highchart id="chartMedioContacto" config="fData.chartMedioContacto" class="col-lg-12"></highchart>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="panel p col-lg-12">
            <div class="boxform">
              <div class="form-group inline">
                <label> Desde </label>
                <input type="text" ng-model="fBusquedaPPM.inicio" class="form-control input-xs mask"
                    placeholder="Fecha Desde" input-mask mask-options="{alias: 'dd-mm-yyyy'}"/>
              </div>
              <div class="form-group inline">
                <label> Hasta </label>
                <input type="text" ng-model="fBusquedaPPM.fin" class="form-control input-xs mask"
                    placeholder="Fecha Hasta" input-mask mask-options="{alias: 'dd-mm-yyyy'}"/>
              </div>
              <div class="form-group inline">
                <button type="button" class="btn btn-info btn-xs" ng-click="consultarPacientePorMes();">
                  <i class="fa fa-refresh"></i> PROCESAR
                </button>
              </div>
            </div>
            <highchart id="chartPacPorMes" config="fData.chartPacPorMes" class="col-lg-12"></highchart>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="panel p col-lg-12">
            <div class="boxform">
              <div class="form-group inline">
                <label> Desde </label>
                <input type="text" ng-model="fBusquedaPPD.inicio" class="form-control input-xs mask"
                    placeholder="Fecha Desde" input-mask mask-options="{alias: 'dd-mm-yyyy'}"/>
              </div>
              <div class="form-group inline">
                <label> Hasta </label>
                <input type="text" ng-model="fBusquedaPPD.fin" class="form-control input-xs mask"
                    placeholder="Fecha Hasta" input-mask mask-options="{alias: 'dd-mm-yyyy'}"/>
              </div>
              <div class="form-group inline">
                <label> Top distritos </label>
                <select ng-model="fBusquedaPPD.ultimo" class="form-control input-xs" 
                ng-options="item as item.descripcion for item in fArr.listaUltimosDist"> </select>
              </div>
              <div class="form-group inline">
                <button type="button" class="btn btn-info btn-xs" ng-click="consultarPacientePorDistrito();">
                  <i class="fa fa-refresh"></i> PROCESAR
                </button>
              </div>
            </div>
            <highchart id="chartPacPorDist" config="fData.chartPacPorDist" class="col-lg-12"></highchart>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="panel p col-lg-12">
            <div class="boxform">
              <div class="form-group inline">
                <label> Monto/Cantidad </label>
                <select ng-model="fBusquedaPMM.mc" class="form-control input-xs" 
                ng-options="item as item.descripcion for item in fArr.listaMC"> </select>
              </div>
              <div class="form-group inline">
                <label> Año </label>
                <select ng-model="fBusquedaPMM.anio" class="form-control input-xs" 
                ng-options="item as item.descripcion for item in fArr.listaAnio"> </select>
              </div>
              <div class="form-group inline">
                <button type="button" class="btn btn-info btn-xs" ng-click="consultarProdMedicoMes();">
                  <i class="fa fa-refresh"></i> PROCESAR
                </button>
              </div>
            </div>
            <highchart id="chartProdMedicoMes" config="fData.chartProdMedicoMes" class="col-lg-12"></highchart>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="panel p col-lg-12">
            <div class="boxform">
              <div class="form-group inline">
                <label> Monto/Cantidad </label>
                <select ng-model="fBusquedaMMC.mc" class="form-control input-xs" 
                ng-options="item as item.descripcion for item in fArr.listaMC"> </select>
              </div>
              <div class="form-group inline">
                <label> Año </label>
                <select ng-model="fBusquedaMMC.anio" class="form-control input-xs" 
                ng-options="item as item.descripcion for item in fArr.listaAnio"> </select>
              </div>
              <div class="form-group inline">
                <button type="button" class="btn btn-info btn-xs" ng-click="consultarProdMedicoTiempo();">
                  <i class="fa fa-refresh"></i> PROCESAR
                </button>
              </div>
            </div>
            <highchart id="chartProdMedicoTiempo" config="fData.chartProdMedicoTiempo" class="col-lg-12"></highchart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
