<div class="" ng-controller="RegistroAtencionCtrl" style="background-color: rgba(255,255,255,0.85);">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3"> Registrar Atención </h1>
	</div>

	<div class="">
	<div class="cell scrollable hover">
		<div class="cell-inner">
			<div class="tab-content">

				<div class="col-xs-12" style="line-height: 1.1; font-size: 95%;">
					<fieldset class="row">
						<legend class="col-xs-12 mb-sm pb-n" style="font-size: 14px; font-weight: bold; border: none;">
							<div class="block" style="background-color: #5d7581; color: white; text-align: center; line-height: 1.5;">
								DATOS DEL PACIENTE </div>
						</legend>
						<div class="col-xs-12 form-inline mb-sm pl-xs">
							<div class="form-group col-md-3 col-sm-6 col-xs-12">
								<div class="mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Nombres y Apellidos </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.paciente }} </span>
							</div>
							<div class="form-group col-md-3 col-sm-6 col-xs-12">
								<div class="mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Doc. de Identidad </label>
								</div>
								<span class="text-black m-n"> {{ fData.tipoDocumento }} </span>
								<span class="text-black m-n"> {{ fData.numeroDocumento }} </span>
							</div>
							<div class="form-group col-md-3 col-sm-6 col-xs-12">
								<div class="mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Sexo </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.sexo }} </span>
							</div>
							<div class="form-group col-md-3 col-sm-6 col-xs-12">
								<div class="mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Edad </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.edad }} </span>
							</div>

						</div>
					</fieldset>
				</div>

				<div class="col-xs-12" style="line-height: 1.1; font-size: 95%;">
					<fieldset class="row">
						<legend class="col-xs-12  mb-sm pb-n" style="font-weight: bold; font-size: 14px; border: none;">
							<div class="block" style="background-color: #5d7581; color: white; text-align: center; line-height: 1.5;">
								ACTO MÉDICO </div>
						</legend>
						<div class="col-xs-12 form-inline mb-sm pl-xs">
							<div class="form-group col-md-3 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Profesional </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.medico }} </span>
							</div>
							<div class="form-group col-md-3 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Fecha de Atención </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.fechaCita }} </span>
              </div>
              <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Hora Inicio </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.horaDesde }} </span>
              </div>
              <div class="form-group col-md-3 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Hora Fin </label>
								</div>
								<span class="help-block text-black m-n"> {{ fData.horaHasta }} </span>
							</div>
							<div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Peso </label>
                </div>
                <input style="width: 60px;" type="text" class="form-control input-xs" ng-model="fData.peso" placeholder="kg" ng-change="calcularIMC()">
                <small>Kg.</small>
							</div>
							<div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label for="inputHelpBlock" class="m-n text-blue"> Talla </label>
								</div>
                <input style="width: 60px;" type="text" class="form-control input-xs" ng-model="fData.talla" placeholder="cm" ng-change="calcularIMC()">
                <small>cm.</small>
							</div>
							<div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label class="m-n text-blue"> IMC </label>
								</div>
								<input type="text" class="form-control input-xs" ng-model="fData.imc" placeholder="IMC" disabled>
              </div>
              <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label class="m-n text-blue"> Temp. Corporal </label>
								</div>
                <input type="text" class="form-control input-xs" ng-model="fData.temperaturaCorporal" placeholder="Temperatura Corporal">
              </div>
              <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label class="m-n text-blue"> Frec. Cardiaca </label>
								</div>
                <input type="text" class="form-control input-xs" ng-model="fData.frecuenciaCardiaca" placeholder="Frecuencia Cardiaca">
              </div>
              <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label class="m-n text-blue"> Perímetro Abdominal </label>
								</div>
                <input type="text" class="form-control input-xs" ng-model="fData.perimetroAbdominal" placeholder="Perímetro Abdominal">
              </div>
						</div>
					</fieldset>

				</div>

				<uib-tabset active="0">
					<uib-tab index="$index" ng-repeat="item in fData.detalle" heading="{{ item.producto }}">
            <div class="row" style="margin-right: 0px !important;margin-left: 0px !important;">
              <div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label  class="m-n text-blue"> Tipo de Producto: </label>
								</div>
								<span class="text-black m-n"> {{ item.tipoProducto }} </span>
							</div>
							<div class="form-group col-md-2 col-sm-6 col-xs-12 mb-xs">
								<div class=" mb-n">
									<label  class="m-n text-blue"> Producto: </label>
								</div>
								<span class="text-black m-n"> {{ item.producto }} </span>
							</div>
						</div>
						<div class="row" style="margin-right: 0px !important;margin-left: 0px !important;">
							<div class="form-group col-sm-6">
								<div class=" mb-n">
									<label class="m-n text-blue"> Informe: </label>
								</div>
								<textarea name="informe" id="" cols="30" rows="5" ng-model="item.informe" style="width: 100%;"></textarea>
							</div>
							<div class="form-group col-sm-6">
								<div class=" mb-n">
									<label class="m-n text-blue"> Observaciones: </label>
								</div>
								<textarea name="observaciones" id="" cols="30" rows="5" ng-model="item.observaciones" style="width: 100%;"></textarea>
							</div>
            </div>
						<div ng-if="item.tipoProductoId == 1" class="row mb pt" style="margin-right: 0px !important;margin-left: 0px !important;border-top: 1px solid #e0e0e0;">
							<div class="form-group mb-md col-md-6 col-sm-6">
								<label class="control-label minotaur-label mb-xs"> Diagnóstico CIE-10 </label>
								<div class="input-group">
									<span class="input-group-btn">
										<input
											type="text"
											ng-model="fData.temporal.codigo"
											class="form-control input-sm"
											style="width:90px;margin-right:4px;"
											placeholder="CODIGO"
											ng-disabled="true"
										/>
									</span>
									<input
										id="temporalDiagnostico"
										type="text"
										ng-model="fData.temporal.diagnostico"
										class="form-control input-sm"
										placeholder="Busque Diagnostico"
										typeahead-loading="loadingLocations2"
										typeahead-wait-ms="500"
										uib-typeahead="item as item.descripcion for item in getDiagnosticoAutocomplete($viewValue)"
										typeahead-on-select="getSelectedDiagnostico($item, $model, $label)"
										typeahead-min-length="2"
										autocomplete="off"
										ng-change = "fData.temporal.iddiagnostico = null;"
									/>
								</div>
								<i ng-show="loadingLocations2" class="fa fa-refresh" style="position: absolute;"></i>
								<div ng-show="noResultsPr" style="position: absolute;" class="text-danger">
									<i class="fa fa-remove"></i>
									No se encontró resultados
								</div>
							</div>
							<div class="form-group col-md-3 col-sm-6 mb-md">
								<label class="control-label mb-xs"> Tipo </label>
								<select
									class="form-control input-sm"
									ng-model="fData.temporal.tipoDiagnostico"
									ng-options="item as item.descripcion for item in fArr.listaTipoDiagnostico"
									required
								></select>
							</div>
							<div class="form-group col-md-3 mb-md  mt-xs">
								<button class="btn btn-success btn-sm mt-md" style="width: 100%;"
									ng-click="agregarItemDiagnostico()"
									ng-disabled="fData.temporal.iddiagnostico == null && (fData.temporal.tipoDiagnostico == null || fData.temporal.tipoDiagnostico == '')"
								>AGREGAR</button>
							</div>
							<div class="col-xs-12">
								<div ui-grid="gridOptions" ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit class="grid table-responsive fs-mini-grid" ng-style="getTableHeight();"></div>
							</div>
						</div>
					</uib-tab>

					<uib-tab index="receta" heading="RECETA">
						<div class="row" style="margin-right: 0px !important;margin-left: 0px !important;">
							<div class="form-group mb-md col-sm-6">
								<label class="control-label minotaur-label mb-xs"> Medicamento </label>
								<input type="text" class="form-control input-sm" ng-model="fData.temporal.nombreMedicamento">
							</div>
							<div class="form-group mb-md col-sm-1">
								<label class="control-label minotaur-label mb-xs"> Cantidad </label>
								<input type="text" class="form-control input-sm" ng-model="fData.temporal.cantidad">
							</div>
							<div class="form-group mb-md col-sm-4">
								<label class="control-label minotaur-label mb-xs"> Indicaciones </label>
								<input type="text" class="form-control input-sm" ng-model="fData.temporal.indicaciones">
							</div>

							<div class="form-group col-md-1 mb-md  mt-xs">
								<button class="btn btn-success btn-sm mt-md" style="width: 100%;"
									ng-click="agregarItemMedicamento()"
									ng-disabled="fData.temporal.nombreMedicamento == null  || fData.temporal.cantidad == '' || fData.temporal.indicaciones == ''"
								>AGREGAR</button>
							</div>


							<div class="form-group col-sm-12">

								<div class=" mb-n">
									<label class="m-n text-blue"> Indicaciones Generales: </label>
								</div>
								<textarea name="informe" id="" cols="30" rows="5" ng-model="fData.indicacionesGenerales" style="width: 100%;"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="block mt text-center">
								<button class="btn btn-success" ng-click="grabarReceta(); $event.preventDefault();"
									style="width: 240px;">
									<i class="fa fa-edit"></i> Grabar Receta
								</button>
								<button class="btn btn-info" ng-click="btnImprimirReceta(); $event.preventDefault();"
									style="width: 240px;">
									<i class="fa fa-download"></i> Imprimir Receta
								</button>
							</div>
						</div>

					</uib-tab>
        </uib-tabset>
        <div class="col-xs-12 block pt mb text-center" style="border-top: 1px solid #e0e0e0;">
          <button type="button" class="btn btn-warning" ng-click="goToUrl('app/atencion-medica'); $event.preventDefault();"
            style="width: 150px;">
            <i class="fa fa-step-backward"></i> Regresar
          </button>
          <button class="btn btn-success" ng-click="grabarAtencionMedica(); $event.preventDefault();"
            ng-disabled="formAtencionMedicaAmb.$invalid || gridOptionsDiagnostico.data.length==0" style="width: 240px;">
            <i class="fa fa-edit"></i> Grabar
          </button>
        </div>
			</div>
		</div>

	</div>
</div>
